.feynman {
    
    background-color: #f2f2f2;
    height: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url(./../../images/feynman.png);
    background-position: bottom 0px left 0px;
    background-repeat: no-repeat;
  }
  