@import url(./brief/two-columns__brief.css);
@import url(./paragraph/two-columns__paragraph.css);
@import url(./span-accent/two-columns__span-accent.css);

.two-columns {
    min-width: 784px;
    width: 80%;
    margin: 0px auto;
    padding-top: 100px;
    display: flex;
}

