@import url(../vendor/fonts/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/link/link.css);
@import url(../blocks/rotation/rotation.css);

@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/section/section.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/video/iframes/video__iframes.css);
@import url(../blocks/video/iframe/video__iframe.css);
@import url(../blocks/oakley/oakley.css);

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/link/feynman__link.css);
@import url(../blocks/feynman/subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/title/feynman_title.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/table/table.css);

@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/author/khan__author.css);
@import url(../blocks/khan/book-container/khan__book-container.css);
@import url(../blocks/khan/book-pic/khan__book-pic.css);
@import url(../blocks/khan/buy-link/khan__buy-link.css);
@import url(../blocks/khan/container/khan__container.css);
@import url(../blocks/khan/quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/quote-author/khan__quote-autor.css);
@import url(../blocks/khan/quote/khan__quote.css);
@import url(../blocks/khan/title/khan__title.css);



@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/triangle/kaufman__triangle.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/logo/logo.css);




