@import url(./author/footer__author.css);
@import url(./column-heading/footer__column-heading.css);
@import url(./column-link/footer__column-link.css);
@import url(./column-links/footer__column-links.css);
@import url(./columns/footer__columns.css);
@import url(./social-icon/footer__social-icon.css);

.footer{
    background-color: black;
    padding: 60px 0px 40px;
    color:white;
}