.section {
    width: 80%;
    margin: auto;
    padding-top:100px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_dark {
    background-color: black;
    padding-top: 90px;
}